.Operator-Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.Operator-Buttons button {
    color: red;
    max-width: 100px;
    width: 100%;
    padding: 10px;
}

.Bottom-Buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Number-Buttons {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Number-Buttons button {
    color: red;
}

.Row-1, .Row-2, .Row-3, .Row-4, .Equal-Button {
    display: flex;
    flex-direction: column;
}

.Row-1 button, .Row-2 button, .Row-3 button{
    max-width: 50px;
    width: 100%;
    padding: 10px 49px;
}

.Equal-Button button {
    color: red;
    max-width: 100px;
    width: 100%;
    padding: 0 49px;
    max-height: 150px;
    height: 100%;
}

