.Display {
    display: flex;
    justify-content: center;
}

.Display p {
    display: flex;
    justify-content: flex-end;
    width: 396px;
    height: 40px;
    font-size: 30px;
    margin: 10px 0;
    border: 2px solid red;
}